<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/agro/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="nombre" class="form-control" placeholder="nombre" autofocus>
                        </div>
                        <div class="form-group">
                            <select name="categoria">
                                <option value="Frutas">Frutas</option>
                                <option value="Verduras">Verduras</option>
                                <option value="Hortalizas">Hortalizas</option>
                                <option value="secos">secos</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea name="lugar" rows="2" class="form-control" placeholder="lugar"></textarea>
                        </div>
                        <div class="form-group">
                            <textarea name="direccion" rows="2" class="form-control" placeholder="direccion"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="date" name="startdate" class="form-control" placeholder="fecha inicio">
                        </div>
                        <div class="form-group">
                            <input type="date" name="endate" class="form-control" placeholder="fecha fin">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>