<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">AgroTech</h1>
            <h3 class="mb-5">
                <em>Ingresa</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/agro">
                Empezemos a llevar el agro a tu ciudad
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>