<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido {{user.fullname}}</h3>
                    <h4>{{user.username}}</h4>
                    <a href="/agro" class="btn btn-primary m-4">
                        Ver tu productos
                    </a>
                    <a href="/agro/add" class="btn btn-primary m-4">
                        Cargar tu producto
                    </a>
                    <a href="/agro/add" class="btn btn-primary m-4">
                        Cargar Lote
                    </a>
                    <a href="/agro/add" class="btn btn-primary m-4">
                        Cargar OCR
                    </a>
                    <div class="btn btn-primary m-4" onclick="openInNewTab('img/index.html');">Ver metricas</div>
                    <script type="text/javascript">
                        function openInNewTab(url) {
                            var win = window.open(url, '_blank');
                            win.focus();
                        }
                    </script>
                </div>
            </div>
        </div>

    </div>
</div>